<!DOCTYPE html>
<html lang=en>
<meta charset="utf-8">
<title>AnglizBot</title>
<meta name=description content="EduBot">
<meta name=viewport content="width=device-width,initial-scale=1.0">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
<link rel=icon href="/static/favicon.svg" sizes="any">
<link rel="apple-touch-icon" href="/static/favicon-192.png">
<link rel="mask-icon" href="/static/favicon.svg" color="black">
<link rel=stylesheet href="/static/chota.min.css" media="print" onload="media='all'">
<link rel=stylesheet href="/static/style.css" media="print" onload="media='all'">
<link rel="manifest" href="/static/manifest.json">
<script defer src="/static/vue.global.prod.js"></script>
<script defer src="/static/vue-router.global.prod.js"></script>
<script defer src="/static/markdown-it.min.js"></script>
<script type=module>
import { Sign } from '/static/Sign.js'
import { Profile } from '/static/Profile.js'
import { Leaderboard } from '/static/Leaderboard.js'
import { LessonList, LessonShow, CategoriesList } from '/static/Lesson.js'
import { BotOnlineChat } from '/static/BotOnline.js'
import { Privacy } from '/static/Privacy.js'

const routes = [
	{ path:'/', redirect: ()=> document.cookie ? '/me' : '/sign/in'},
	{ path:'/sign/:mode', component: Sign, props:true},
	{ path:'/me', component: Profile },
	{ path:'/category/', component: CategoriesList},
	{ path:'/category/:tag', component: LessonList, props: true},
	{ path:'/lesson/:id', component: LessonShow, props: true },
	{ path:'/leaderboard', component: Leaderboard},
	{ path:'/privacy', component: Privacy},
	{ path:'/bot/:subject', component: BotOnlineChat,props:true},
	{ path:'/:other(.*)*', component:{template:`<h1>404: Page not found 😟</h1>`}}
];
const app = Vue.createApp({
	data() { return {
		role: null, id: null, worker:null, theme: localStorage.theme || `#126359`,
		progress: JSON.parse(localStorage.progress || '{}'),
	} },
	async mounted() {
		this.log();
		if ('serviceWorker' in navigator) {
			const register = await navigator.serviceWorker.register('/worker.js');
			console.log(register);
			register.onupdatefound = () => this.$root.$refs.bot.say("An update is available !")
			this.worker = register.active;
			navigator.serviceWorker.addEventListener("message", ({data}) => {
				console.log("message", data);
				if (data.bot) this.$root.$refs.bot.say(data.bot);
			})
		}
	},
	computed: {
		xp() { return 1 + Object.keys(this.progress).length }, //XP:0 create log2(0)/pow(0) cornercase
		myLv() {return this.level(this.xp)}
	},
	watch: {
		myLv() {
			this.$refs.lv.classList.add('lvUp');
			setTimeout(() => this.$refs.lv.classList.remove('lvUp'), 1000);
		}
	},
	methods: {
		level(xp) { return Math.min(10, Math.log2(xp) | 0); }, // DUPLICATED in Profile.js
		is(...roles) { return roles.includes(this.role); },
		log() {
			const cookie = Object.fromEntries(document.cookie.split('; ').map(x => x.split('=')));
			this.id   = cookie.id ? atob(cookie.id) : null;
			this.role = cookie.role ? atob(cookie.role) : null;
		}
	},
});
app.use(VueRouter.createRouter({routes, history: VueRouter.createWebHashHistory(), linkActiveClass: 'active'}));
app.component('bot-chat', BotOnlineChat);
app.mount('main');

if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
	document.body.classList.add('dark');
}
</script>
<main class="container">
	<component is="style">:root{--color-primary: {{theme}};}</component>
	<nav class="tabs is-full" style="z-index: 1;margin-bottom: 2em;position: sticky;top: 0;background: var(--bg-color);">
		<router-link to="/category" v-if="is('user')"><s>app</s>&nbsp;<span>บทเรียน</span></router-link>
		<router-link to="/category/2vocab" v-if="is('user')"><s>book</s>&nbsp;<span>คำศัพท์</span></router-link>
		<router-link to="/me" v-if="is('user')">
			<s>bust</s>&nbsp;<span>{{$root.id}}</span>
			<span ref=lv class="tag is-small" :title="'xp:'+xp" style="transform:scale(1) translateY(0);background-size: cover;transition: transform 1s;">Lv:{{myLv}}</span>
		</router-link>
		<router-link to="/sign/in" v-if="is(null)"><s>star</s>&nbsp;<span>Sign</span></router-link>
		<router-link to="/leaderboard" v-if="is('user')"><s>trophy</s>&nbsp;<span>Leaderboard</span></router-link>
	</nav>	
	<router-view :key="$route.fullPath"></router-view>
	<bot-chat ref="bot" v-if="is('user')"></bot-chat>
</main>	
