.chatbot {
    --size: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 16px;
    max-width: 400px;
    /*opacity:.7; yet another round trip on this one */
}


.chatbot:focus-within {
    z-index:2; 
    background-color:var(--blur);
    box-shadow: 0 0 0 5000px var(--blur) !important;
    opacity:1;
}

.chatbot>details>summary {
    text-align: right;
}

.chatbot>details>nav {
    display: flex;
}

.chatbot>details>summary>svg {
/*    fill:var(--color-primary);*/
    background-color: var(--color-primary);
    border-radius: 20px 20px 20px 0;
    z-index: 1;
    fill: white;
    padding: 8px;
    box-shadow: 0 4px 8px black;
}
.chatbot>output {
    display: block; /* flex is problematic with markdown */
    margin-bottom: 1em;
    animation: MessageCreate .5s ease forwards;
}

.chatbot>output.user {
    border-radius: 20px 20px 20px 0;
    justify-content: flex-end;
}

.chatbot>output.bot {
    border-radius: 20px 20px 0 20px;
    background-color: var(--color-primary);
    color:var(--bg-color);
}    

.chatbot>output.bot a {
    color: inherit;
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    margin: .5em;
    padding: .5em;
}

.chatbot>output code {
    --bg-secondary-color: var(--bg-color);
}

.chatbot>output.hidden {
    animation: MessageTimeout .5s ease forwards;
}

.chatbot input[name=req]:disabled {
    animation: RecordingProgress 3s ease;
}


@keyframes MessageCreate {
    0%{transform: translateX(500px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;}
}   
@keyframes MessageTimeout {
    0%{transform: translateX(0px);}
    99%{transform: translateX(500px);}
   100%{ height: 0; overflow: hidden; margin: 0; padding: 0;}
}
