<!DOCTYPE html>
<html lang=en>
<meta charset="utf-8">
<title>EduBot</title>
<meta name=description content="EduBot">
<meta name=viewport content="width=device-width,initial-scale=1.0">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
<link rel=icon href="/static/favicon.svg" sizes="any">
<link rel="apple-touch-icon" href="/static/favicon-192.png">
<link rel="mask-icon" href="/static/favicon.svg" color="black">
<link rel=stylesheet href="/static/chota.min.css" media="print" onload="media='all'">
<link rel=stylesheet href="/static/style.css" media="print" onload="media='all'">
<link rel="manifest" href="/static/manifest.json">
<script defer src="/static/vue.global.prod.js"></script>
<script defer src="/static/vue-router.global.prod.js"></script>
<script defer src="/static/markdown-it.min.js"></script>
<script type=module>
import { Homepage } from '/static/Homepage.js'
import { SignUp, SignIn, SignMe } from '/static/Sign.js'
import { LessonList, LessonShow,CategoriesList } from '/static/Lesson.js'
import { BotChat } from '/static/Bot.js'
const routes = [
	{ path:'/',           component: Homepage },
	{ path:'/vocab',    component: LessonList},
	{ path:'/category',    component: CategoriesList},
	{ path:'/category/:id',    component: LessonList,props: true},
	{ path:'/lesson/:id', component: LessonShow, props: true },
	{ path:'/register',   component: SignUp },
	{ path:'/login',      component: SignIn },
	{ path:'/me',         component: SignMe },
	{ path:'/:other(.*)*', component:{template:`<h1>404: Page not found 😟</h1>`}}
];
const app = Vue.createApp({
	data() { return {role: null, id: null, theme: localStorage.theme || `#126359`} },
	mounted() { this.log(); },
	methods:{
		is(...roles) { return roles.includes(this.role); },
		log() {
			const cookie = Object.fromEntries(document.cookie.split('; ').map(x => x.split('=')));
			this.id   = cookie.id ? atob(cookie.id) : null;
			this.role = cookie.role ? atob(cookie.role) : null;
		}
	},
});
app.use(VueRouter.createRouter({routes, history: VueRouter.createWebHistory(), linkActiveClass: 'active'}));
app.component('bot-chat', BotChat);
app.mount('main');
console.debug(app);
if ('serviceWorker' in navigator) {
	navigator.serviceWorker.register('/worker.js').then(console.debug);
}
</script>
<main class="container">
	<component is="style">:root{--color-primary: {{theme}};}</component>
	<nav class="tabs is-full">
		<router-link to="/category"  v-if="is('admin','user')"><s>book</s> บทเรียน</router-link>
		<router-link to="/vocab/"   v-if="is('admin','user')"><s>bookmark</s> คำศัพท์</router-link>
		<router-link to="/user/"    v-if="is('admin')"><s>group</s> Users</router-link>
		<router-link to="/me"       v-if="is('admin','user')"><s>bust</s> {{$root.id}}</router-link>
		<router-link to="/register" v-if="is(null)"><s>star</s> Sign Up</router-link>
		<router-link to="/login"    v-if="is(null)"><s>login</s> Sign In</router-link>
	</nav>	
	<router-view></router-view>
	<bot-chat ref="bot"></bot-chat>
</main>	
