<!DOCTYPE html>
<html lang=en>
<meta charset="utf-8">
<title>EduBot</title>
<meta name=description content="EduBot">
<meta name=viewport content="width=device-width,initial-scale=1.0">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
<link rel=icon href="/static/favicon.svg" sizes="any">
<link rel="apple-touch-icon" href="/static/favicon-192.png">
<link rel="mask-icon" href="/static/favicon.svg" color="black">
<link rel="prefetch" href="https://unpkg.com/picon@22.3.9/solid.woff2" crossorigin>
<link rel=stylesheet href="https://unpkg.com/chota@0.8.0/dist/chota.min.css" media="print" onload="media='all'">
<link rel=stylesheet href="/static/style.css" media="print" onload="media='all'">
<link rel="manifest" href="/static/manifest.json">

<main class="container">
	<nav class="tabs is-full">
		<router-link to="/lesson/"  v-if="$root.$data.paths.includes('/lesson')"><s>list</s> Lesson List</router-link>
		<router-link to="/me"       v-if="$root.$data.paths.includes('/rpc/me')"><s>bust</s> My Profile</router-link>
		<router-link to="/sign/up"  v-if="$root.$data.paths.includes('/rpc/register')"><s>star</s> Sign Up</router-link>
		<router-link to="/sign/in"  v-if="$root.$data.paths.includes('/rpc/login')"><s>key</s> Sign In</router-link>
		<router-link to="/sign/out" v-if="$root.$data.paths.includes('/rpc/logout')"><s>exit</s> Sign Out</router-link>
	</nav>
	<router-view></router-view>
	<bot-chat></bot-chat>
</main>

<script defer src="https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js"></script>
<script defer src="https://unpkg.com/vue-router@4.0.14/dist/vue-router.global.prod.js"></script>
<script defer src="https://unpkg.com/markdown-it@13.0.0/dist/markdown-it.min.js"></script>
<script type=module>
import {SignUp, SignIn, SignOut} from '/static/Sign.js'
import {LessonList, LessonShow} from '/static/Lesson.js'
import {BotFace, BotChat} from '/static/Bot.js'
const routes = [
	{ path:'/', redirect:'/lesson/'},
	{ path:'/lesson/',         name: "LessonList", component: LessonList},
	{ path:'/lesson/:id',      name: "LessonShow", component: LessonShow, props: true},
	{ path:'/sign/up',         name: "SignUp",     component: SignUp},
	{ path:'/sign/in',         name: "SignIn",     component: SignIn},
	{ path:'/sign/out',         name: "SignOut",     component: SignOut},
//			{ path:'/user/',           name: "UserList",  component: UserList},
//			{ path:'/user/new',        name: "UserNew",   component: UserForm, props: { edit: true }},
//			{ path:'/user/:id',        name: "UserForm",  component: UserForm, props: true },
//			{ path:'/user/:id/edit',   name: "UserEdit",  component: UserForm, props: (route) => ({ id: route.query.id, edit: true }) },
	{ path:'/:other(.*)*', component:{template:`<h1>404: Page not found 😟</h1>`}}
];
const app = Vue.createApp({
	data() {return {auth: false, paths: [], $me: {}}},
	mounted() {this.auth = !this.auth;},
	watch: {
		async auth(_is, _was) {
			const me = await fetch('/api/rpc/me');
			this.$me = (this.auth = me.ok) ? await me.json() : {};
			this.paths = Object.keys((await (await fetch(`/api/`)).json()).paths);
		}
	},
});
app.use(VueRouter.createRouter({routes, history: VueRouter.createWebHistory(), linkActiveClass: 'active'}));
app.component('bot-face', BotFace);
app.component('bot-chat', BotChat);
app.mount('main');
console.debug(app);
if ('serviceWorker' in navigator) {
	navigator.serviceWorker.register('/worker.js').then(console.debug);
}
//*/
</script>