<!DOCTYPE html>
<html lang=en>
<meta charset="utf-8">
<title>EduBot</title>
<meta name=description content="EduBot">
<meta name=viewport content="width=device-width,initial-scale=1.0">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
<link rel=icon href="/static/favicon.svg" sizes="any">
<link rel="apple-touch-icon" href="/static/favicon-192.png">
<link rel="mask-icon" href="/static/favicon.svg" color="black">
<link rel="prefetch" href="https://unpkg.com/picon@22.3.9/solid.woff2" crossorigin>
<link rel=stylesheet href="https://unpkg.com/chota@0.8.0/dist/chota.min.css" media="print" onload="media='all'">
<link rel=stylesheet href="/static/style.css" media="print" onload="media='all'">
<link rel="manifest" href="/static/manifest.json">

<main class="container">
	<nav class="tabs is-full">
		<router-link to="/user/"    v-if="is('admin')"><s>list2</s> Users</router-link>
		<router-link to="/lesson/"  v-if="is('admin','user')"><s>list2</s> Lesson List</router-link>
		<router-link to="/me"       v-if="is('admin','user')"><s>bust</s> {{$root.id}}</router-link>
		<router-link to="/register" v-if="is(null)"><s>star</s> Sign Up</router-link>
		<router-link to="/login"    v-if="is(null)"><s>login</s> Sign In</router-link>
	</nav>
	<router-view></router-view>
	<bot-chat></bot-chat>
</main>

<script defer src="https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js"></script>
<script defer src="https://unpkg.com/vue-router@4.0.14/dist/vue-router.global.prod.js"></script>
<script defer src="https://unpkg.com/markdown-it@13.0.0/dist/markdown-it.min.js"></script>
<script type=module>
import { Homepage } from '/static/Homepage.js'
import { SignUp, SignIn, SignMe } from '/static/Sign.js'
import { LessonList, LessonShow } from '/static/Lesson.js'
import { BotChat } from '/static/Bot.js'
const routes = [
	{ path:'/',           component: Homepage },
	{ path:'/lesson/',    component: LessonList },
	{ path:'/lesson/:id', component: LessonShow, props: true },
	{ path:'/register',   component: SignUp },
	{ path:'/login',      component: SignIn },
	{ path:'/me',         component: SignMe },
	{ path:'/:other(.*)*', component:{template:`<h1>404: Page not found 😟</h1>`}}
];
const app = Vue.createApp({
	data() { return {role: null, id: null} },
	mounted() { this.log(); },
	methods:{
		is(...roles) { return roles.includes(this.role); },
		log() {
			const cookie = Object.fromEntries(document.cookie.split('; ').map(x => x.split('=')));
			this.id   = cookie.id ? atob(cookie.id) : null;
			this.role = cookie.role ? atob(cookie.role) : null;
		}
	},
});
app.use(VueRouter.createRouter({routes, history: VueRouter.createWebHistory(), linkActiveClass: 'active'}));
app.component('bot-chat', BotChat);
app.mount('main');
console.debug(app);
//if ('serviceWorker' in navigator) {
//	navigator.serviceWorker.register('/worker.js').then(console.debug);
//}
</script>